<div class="home-header"></div>
<div class="search">
  <input class="searchBar" [(ngModel)]="searchTerm" type="text" placeholder="Search Clubs .."(click)="search()" />
</div>
<div class="feedContainer">
  <h1>Results</h1>
  </div>
  
    <div class="eventResults" *ngFor="let club of searchedClubs">
  
      <a [href]="club?.webLink" target="_blank" class="name">
        <h4>
       
        {{club?.Name}}
      </h4>
      </a>
      <a [href]="club?.webLink" target="_blank" class="url">{{club?.webLink}}</a>
      <td [innerHTML]="club.Description"></td>

    </div>
   
      

