<!-- QUIZ PAGE -->
<!-- This page shows the various quiz questions
to populate club recommendations -->
<div class="home-header"></div>
<div class="search"></div>
<div class="formContainer">
  <h1>Tell us how you feel about the following categories</h1>
  <br />
  <form>
    <h2>Academic/Pre-Professional</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Campus Department</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Frantenity & Sorority</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Graduate</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Honor Society</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>intrest</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>International</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Media</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Multicultural</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Performance</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Political</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Religious/Spritual</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Service</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Social justice</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>

  <form>
    <h2>Sport Club</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>
  <form>
    <h2>Student Group</h2>
    <input
      type="radio"
      id="Highly Unintrested"
      name="Questionair"
      value="Highly Unintrested"
    />
    <label for="Highly Unintrested">Highly Unintrested</label>

    <input
      type="radio"
      id="Not Intrested"
      name="Questionair"
      value="Not Intrested"
    />
    <label for="Not Intrested">Not Intrested</label>

    <input type="radio" id="Intrested" name="Questionair" value="Intrested" />
    <label for="Intrested">Intrested</label>

    <input
      type="radio"
      id="Highly Intrested"
      name="Questionair"
      value="Highly Intrested"
    />
    <label for="Highly Intrested">Highly Intrested</label>
  </form>
</div>
