<!--
<div class="logo">
    <h1><img class="home-page-logo" src="../assets/img/logo.png" width="400" height="200.75"/></h1>
  </div>
  <div class="bannercontainer">
    <div class="container">
      <div class="banner">
        <h1>Settings</h1>
      </div>
    </div>
  </div>
-->
  <div class="home-header">
    <div data-aos="zoom-in" data-aos-offset="200">
      <div class="eventPost">


            <div class="settingBox">
              <h2>Event Details</h2>

              <form [formGroup]=' eventPostForm' (ngSubmit)="onSubmit(eventPostForm.value)">

                <div class="settings" >

                  <label for="eventtypeId">Event type</label>
                  <input type="text" formControlName="eventtypeId">

                    <!--- ╌  value="sports">Sports</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Hobbies">Hobbies</option>
                    <option value="Travel">Travel</option>
                    <option value="Education">Education</option>
                    <option value="Proffesional">Proffesional</option>
                    <option value="Food & Drink">Food & Drink</option>
                    <option value=" Recreational & Fitness"> Recreational & Fitness</option>
                    <option value=" Virtual Events"-->

                <label for="title">Title</label>
                <input  formControlName="title" type="text" required><br>

                <label for="description">Description</label>
                <input  formControlName="description" type="text" required><br>

                <label for="location">Venue name</label>
                <input  formControlName="location" id="location" required><br>

                <label for="locationAddress">Location address</label>
                <input  formControlName = locationAddress><br>

                <label for="startDate">Start Date</label>
                <input type= "datetime-local"
                id="startDate"  formControlName="startDate" required><br>


                <label for="endDate">End Date</label>
                <input type= "datetime-local"
                id="endDate"  formControlName="endDate"required><br>

              

                <button id="button" type="submit">Submit</button>
            
                </div>
                </form>
            </div>
                <br><br>
      </div>
    </div>
  </div>
