<div class="logo">
    <h1><img class="home-page-logo" src="../assets/img/logo.png" width="400" height="200.75"/></h1>
  </div>
  <div class="bannercontainer">
    <div class="container">
      <div class="banner">
        <h1>Settings</h1>
      </div>
    </div>
  </div>
  <div class="home-header">
    <div data-aos="zoom-in" data-aos-offset="200">
      <div class="eventPost">
        

            <div class="settingBox">
              <h2>Event Details</h2>
                <div class="settings" >

                <label for="title">Enter the event Title: </label>
                <input name="title" type="text" placeholder="Event Title" required><br>
                
                <label for="street-address">Give a discription of the event:</label>
                <textarea name="event-discription" rows="10" maxlength="1000"></textarea><br>

                <label for="street-address">where is this event happeneing?</label>
                <input name="street-address" id="street-address" autocomplete="on" /><br>

                <label for="contact-info">Enter your phone number: </label>
                <input type="text" placeholder="xxx-xxx-xxxx" minlength="10" required><br>

                <label for="email">enter your email address: </label>
                <input type="text" placeholder="email address" required><br>

                <button id="button" type="submit">Submit</button>
                </div>
            </div>
                <br><br>
      </div>
    </div>
  </div>
