.ninercontainer {
 position: relative;
margin-top: 40px;
float: right;
}
.ninerbtn {
  border: .5px solid black;
  background-color: #046A38;
  color: var(--qc-blue);
  padding: 15px 55px;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 25px 25px;
  text-align:center;
  white-space: nowrap;
  text-transform: uppercase;
  transition: all ease 0.15s;
  text-decoration: none;
}
