.ninercontainer {
 position: relative;
 margin-right: 40px;
margin-top: 40px;
text-align: right;
}
.ninerbtn {
  border: .5px solid black;
  outline: 2px solid #046A38;
  outline-offset: 5px;
  background-color: #046A38;
  color: white;
  padding: 25px 25px;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 50px 50px;
  text-align:center;
  white-space: nowrap;
  text-transform: uppercase;
  transition: all ease 0.15s;
  text-decoration: none;
}
