.navbar-header {
  background-color: #60847c;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.nav-title {
  text-decoration: none;
  color: white;
  font-size: 16pt;
}
.navbar li {
  display: inline-block;
  margin: 0px 15px;
  position: relative;
  margin-left: 3vw;
  left: 13vw;
}
.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}
.nav-item i {
  font-size: 30px;
}

