<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v6.1.2/css/all.css"
/>
<div class="navbar-header">
  <a routerLink="/" class="nav-title"><img src="../assets/img/E.png" width="80" height="80px"></a>
  <div class="navbar">
    <ul class="navbar-nav mx-sm-auto">
      <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" id="directory"
          routerLink="/profile" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Profile</a>
      </li>
      <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" id="directory"
          routerLink="/organizations" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Feed</a>
      </li>
  <li class="nav-item">
    <a [routerLinkActive]="['active']" class="nav-link" id="eventPost"
    routerLink="/eventPost" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Events+</a>
</li>
<li class="nav-item">
  <a [routerLinkActive]="['active']" class="nav-link" id="signin"
  routerLink="/signin" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Sign In</a>
</li>
<li class="nav-item">
  <a [routerLinkActive]="['active']" class="nav-link" id="directory"
  routerLink="/match" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Search</a>
</li>
  <li class="nav-item" id="nav-right">
    <a [routerLinkActive]="['active']" class="nav-link" id="settings"
    routerLink="/settings" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-gear"></i></a>
</li>
    </ul>

  </div>
</div>
<router-outlet></router-outlet>
