<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v6.1.2/css/all.css"
/>
<div class="navbar-header">
  <a routerLink="/" class="nav-title"><img src="../assets/img/logo.png" width="100px" height="51px"></a>
  <div class="navbar">
    <ul class="navbar-nav mx-sm-auto">
      <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link" id="eventPost"
        routerLink="/eventPost" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Post</a>
    </li>
      <li class="nav-item">
          <a [routerLinkActive]="['active']" class="nav-link" id="directory"
          routerLink="/organizations" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Feed</a>
      </li>
<li class="nav-item">
  <a [routerLinkActive]="['active']" class="nav-link" id="directory"
  routerLink="/match" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Search</a>
</li>
<li class="nav-item">
  <a [routerLinkActive]="['active']" class="floatright" id="profile"
  routerLink="/profile" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-user"></i></a>
</li>
<li class="nav-item" *ngIf="!isLoggedin">
  <a [routerLinkActive]="['active']" class="floatright" id="signin"
  routerLink="/signin" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-right-to-bracket"></i></a>
</li>
<li class="nav-item" *ngIf="isLoggedin">
  <a  (click)="signOut()" class="floatright" id="signin"
  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Sign Out</a>
</li>
  <li class="nav-item">
    <a [routerLinkActive]="['active']" class="floatright"
    routerLink="/settings" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-gear"></i></a>
</li>
    </ul>

  </div>
</div>
<router-outlet></router-outlet>
<!-- Footer Information -->
<div class="footerinformation">
  <h1><img src="../assets/img/logo.png" width="160" height="83"></h1>
  <div class="logolinks">
    <a href="tel: 7047542971">Phone</a>
    <a href="">Linkedin</a>
    <a href="">E-mail</a>
    <p>© 2022</p>
  </div>
</div>
