<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v6.1.2/css/all.css"
/>
 <!-- Headshot Banner Section -->
 <div class="float-container">
  <div class="float-child">
<div class="container">
        <div class="block">
          <div class="wrap">
            <img
              src="assets/img/cat.png"
              alt="Avatar"
              class="headshot"
            />
            <a href="https://www.google.com">
              <div class="overlay">
                <i class="fa-brands fa-linkedin"></i>
              </div>
            </a>
          </div>
        </div>
        <h2>John Doe</h2>
      </div>
  </div>
 <!-- End of John Doe -->
 <div class="float-child">
<div class="home-header">
  <div data-aos="zoom-in" data-aos-offset="200">
    <div class="aboutus">
      <h1>John Doe</h1>
      <h2>Senior</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna
       aliqua. Ut enim ad minim veniam, quis nostrud exercitation
       ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>
 </div>
 </div>
