<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v6.1.2/css/all.css"
/>
<!-- Headshot Banner Section -->
<div class="container">
  <div class="cen">
    <div class="row">
      <div class="col-lg">
        <div class="service">
          <div class="wrap">
            <img
              src="assets/img/cat.png"
              alt="Avatar"
              class="headshot"
            />
            <!-- LinkedIn Hover-->
            <a
              href="https://www.google.com"
            >
              <div class="overlay">
                <i class="fa-brands fa-linkedin"></i>
              </div>
            </a>
          </div>
        </div>
        <h2>John Doe</h2>
      </div>
      <div class="col-lg">
        <div class="service">
          <p class="biostuff">
            Grade: Senior
          </p>
          <p class="biostuff">
            Pets: Just me
          </p>
          <p class="biostuff">
            Introvert
          </p>
          <p class="biostuff">
            Loves Minecraft and pizza
          </p>
        </div>
      </div>
    </div>
  </div>
