<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v6.1.2/css/all.css"
/>
 <!-- Headshot Banner Section -->
 <div class="float-container">
  <div class="float-child">
<div class="container">
        <div class="block">
          <div class="wrap">
            <img
              src="assets/img/cat.png"
              alt="Avatar"
              class="headshot"
            />
            <a href="https://www.google.com">
              <div class="overlay">
                <i class="fa-brands fa-linkedin"></i>
              </div>
            </a>
          </div>
        </div>
        <h2>John Doe</h2>
      </div>
  </div>
 <!-- End of John Doe -->
