
/* Profile Banner */
h1, h2, h3, h4, h5 {
  border: 1px solid #DFDFDF;
  border-radius: 25px 25px;
  color: #60847c;
  padding-bottom: 8px;
  background-color: #EFEFEF;
}
.container {
  margin: auto;
  width: 350px;
  text-align: center;
}
.listFlex {display: flex; justify-content: center;}

img {
  width: 300px;
    height: 300px;
  border-radius: 50%;
    box-shadow: 0 8px 30px 10px grey;
}
/* Linkedin Overlay */
.wrap {
  height: auto;
  margin: auto;
  text-align: center;
  position: relative;
  border-radius: 50%;
}
.wrap:hover .overlay {
  opacity: .9;
}
.overlay > i {
  color: white;
  font-size: 75px;
  font-weight: 400;
}
.overlay {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  padding-top: 110px;
  transition: .3s ease;
  background-color: #60847c;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0;
}

* {
  box-sizing: border-box;
}
/* grid format */
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 900px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* End grid format */

.bio, .goals {
height: 350px;
}
.bio > h1, .goals > h1, .personality > h1,.brands > h1 {
  text-align: center;
}
