<!-- Top Logo -->
<div class="logo">
  <h1>
    <img
      class="home-page-logo"
      src="../assets/img/logo.png"
      width="400"
      height="207"
    />
  </h1>
</div>
<!-- Logo banner -->
<div class="bannercontainer">
  <div class="container">
    <div class="banner">
      <h1>Find Clubs Happening Around You!</h1>
    </div>
  </div>
</div>
<!-- left column, club finder information w button -->
<div class="body">
  <div class="row">
    <div class="column">
      <div class="box">
        <div class="whatami">
          <h1>What Is Club Finder?</h1>
          <p>
            Club Finder allows users to explore the thousands of extracurricular
            acitivty clubs ranging from sports fanatics to chess junkies. Create
            an account, take a quiz, and start exploring!
          </p>
          <div class="center">
            <a routerLink="/signin"
              ><button class="button">Create Account</button></a
            >
          </div>
        </div>
      </div>
    </div>
<!-- right coloumn, student picture -->
    <div class="column">
      <img src="../assets/img/people.png" width="700" height="400" />
    </div>
  </div>
</div>
<!-- left column, laptop picture -->
<div class="quiz">
  <div class="row">
    <div class="column">
      <div class="piccontainer">
        <img src="../assets/img/screen.png" width="591" height="388.5" />
      </div>
    </div>
    <!-- left column, quiz information w button-->
    <div class="column">
      <div class="box2">
        <div class="quizright">
          <h1>Find the Perfect Club for you!</h1>
          <p>
            Let our 2 minute quiz hand pick a selection clubs that suit your
            preferences!
          </p>
          <div class="center">
            <a routerLink="/quiz"><button class="button">Club Quiz</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
