
<div class="logo">
  <h1><img class="home-page-logo" src="../assets/img/logo.png" width="400" height="207"/></h1>
</div>

<div class="bannercontainer">
  <div class="container">
    <div class="banner">
      <h1>Find Clubs Happening Around You!</h1>
    </div>
  </div>
</div>
<!--
<div class="home-header">
  <div data-aos="zoom-in" data-aos-offset="200">
    <div class="aboutus">
      <h1>What Is Club Finder?</h1>
      <h2>A Magical Place, That's What!</h2>
      <p>
        EVENTS+ allows students of all degrees to discover exciting exhibitions
        happening around campus. No need to stare at your phone; EVENTS+ will alert you
        if time, location, and other important information changes.
        Students also have the chance to create a profile, edit persoanlity traits, and
        post their own events for others to join!
      </p>
    </div>
  </div>
</div>
-->
<!-- left column-->
<div class="body">
<div class="row">
  <div class="column">
    <div class="box">
    <div class="whatami">
      <h1>What Is Club Finder?</h1>
      <p>
        Club Finder allows students of all degrees to discover exciting exhibitions
        happening around campus. No need to stare at your phone; EVENTS+ will alert you
        if time, location, and other important information changes.
        Students also have the chance to create a profile, edit persoanlity traits, and
        post their own events for others to join!
      </p>
    </div>
    </div>
  </div>

  <div class="column">
    <img src="../assets/img/people.png" width="700" height="400"/>
  </div>
</div>
</div>
<div class="quiz">
<div class="row">
  <div class="column">
    <div class="piccontainer">
    <img src="../assets/img/screen.png" width="591" height="388.5"/>
  </div>
  </div>
  <div class="column">
    <div class="box2">
      <div class="quizright">
        <h1>Find the Perfect Club for you!</h1>
        <p>
          Let our 2 minute quiz hand pick a selection
          clubs that suit your preferences!
        </p>
      <div class="center">
        <a routerLink="/matched"><button class="button">Club Quiz</button></a>
      </div>
      </div>
      </div>
  </div>
</div>
</div>
