
<div class="logo">
  <h1><img class="home-page-logo" src="../assets/img/E.png" width="400" height="400"/></h1>
</div>
<div class="bannercontainer">
  <div class="container">
    <div class="banner">
      <h1>Find Events Happening Around You!</h1>
    </div>
  </div>
</div>
<div class="home-header">
  <div data-aos="zoom-in" data-aos-offset="200">
    <div class="aboutus">
      <h1>What Is Events+?</h1>
      <h2>A Magical Place, That's What!</h2>
      <p>
        EVENTS+ allows students of all degrees to discover exciting exhibitions
        happening around campus. No need to stare at your phone; EVENTS+ will alert you
        if time, location, and other important information changes.
        Students also have the chance to create a profile, edit persoanlity traits, and
        post their own events for others to join!
      </p>
    </div>
  </div>
</div>

