<div class="logo">
    <h1><img class="home-page-logo" src="../assets/img/logo.png" width="400" height="200.75"/></h1>
  </div>
  <div class="bannercontainer">
    <div class="container">
      <div class="banner">
        <h1>Settings</h1>
      </div>
    </div>
  </div>
  <div class="home-header">
    <div data-aos="zoom-in" data-aos-offset="200">
      <div class="aboutus">
        <h1>Notification Settings</h1>
        <h2>Indicate Your Notificating Preferences:</h2>
        
            <div class="settingBox">
                <div class="settings" >
                    <label for="ads"><input type="checkbox" checked>Ads</label><br>
                    <label for="newEvents"><input type="checkbox" checked></label>Recieve updats on new events in your area<br>
                    <label for="eventReminders"><input type="checkbox" checked></label>Recieve reminders for your groups<br><br>
                    <label for="groupMatching"><input type="checkbox" checked>Share your personal information to improve group matching</label><br>
                </div> 
            </div>    
                <br><br>
           
                <input type="text" placeholder="name" required><br>
                <input type="text" placeholder="10 digit phone number" minlength="10" required><br>
                <input type="text" placeholder="email address" required><br>
                <button id="button" type="submit">Submit</button>
      </div>
    </div>
  </div>
  